@font-face {
  font-family: font-regular;
  src: url("../assets/fonts/notosans-regular.2cb88a13.woff2");
  font-style: normal;
}

@font-face {
  font-family: font-italic;
  src: url("../assets/fonts/notosans-italic.1c1aaac9.woff2");
  font-style: normal;
}

@font-face {
  font-family: font-bold;
  src: url("../assets/fonts/notosans-bold.3ede5aff.woff2");
  font-style: normal;
}

@font-face {
  font-family: font-semibold;
  src: url("../assets/fonts/notosans-semibold.df3e6dc4.woff2");
  font-style: normal;
}
